<div class="container-fluid px-4 py-5 my-5 text-center">
    <div class="lc-block mb-4">
        <div editable="rich">
            <h2 class="display-5 fw-bold">Level up your transport through </br><span class="text-primary">IoT-Based Transport Management System!</span></h2>
        </div>
    </div>
    <div class="lc-block col-lg-6 mx-auto mb-5">
        <div editable="rich">

            <p>Our system reduces nighttime scongestion by giving passengers real-time updates on tricycle availability and alerting drivers to demand at the hub. This helps both passengers and drivers for a smoother, more efficient experience.</p>
        </div>
    </div>

    <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"> <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'dashboard'%}" role="button">Go to Dashboard</a>
        
    </div>
</div>