<nav class="navbar navbar-expand-lg py-2 navbar-dark bg-dark" >
    <div class="container-fluid" >
        <a class="navbar-brand" href='/'>
            <h2><img src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" width="48" height="48" class="align-middle me-1 img-fluid" alt="My Website">
            
            TRANSPORT MANAGEMENT SYSTEM</a></h2>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar3" aria-controls="myNavbar3" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="lc-block collapse navbar-collapse" id="myNavbar3">
            <div class="lc-block ms-auto d-grid gap-2 d-lg-block">
                <a class="btn btn-primary d-block d-lg-inline mt-2 mt-lg-0" href="{% url 'login_page' %}" role="button">Login</a>
                <a class="btn btn-success d-block d-lg-inline mt-lg-0" href="{% url 'register_page' %}" role="button">Register</a>
            </div>
        </div>
    </div>
</nav>